body {
  font-family: "Raleway";
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
  width: 1600px;
  letter-spacing: 0.03em;
}

/* Шапка */

.header {
  outline: 1px solid tomato;
  background-color: #FFFFFF;
}


.container {
  width: 1170px;
  outline: 1px solid rgb(90, 215, 7);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 25px;
  text-decoration: none;
}
.accent {
  color: #2196f3;
  font-family:'Raleway';
}
.navigation-list {
  list-style: none;
  padding-inline-start: 0px;
}

.list-addres {
  list-style: none;

  font-size: 14px;
  line-height: 16px;

  padding-inline-start: 0px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  line-height:16px;
  letter-spacing: 0.02em;
  color:  #212121;
  
 }
 .link:hover,
 .link:focus{
    color: #2196F3;
 }
.mail{
  text-decoration: none;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail:hover,
.mail:focus{
    color: #2196F3;
}
.tel {
  text-decoration: none;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel:hover,
.tel:focus{
    color: #2196F3;
} 

/* Title */
.heroy {
  background-color: #2f303a;
}

.heroy-title {
  margin-top: 0px;
  font-size: 44px;
  line-height: 1,4;
  padding-top: 200px;
  color: #ffffff;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}
.button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto";
  margin-bottom: 200px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  text-decoration: none;
  min-width: 216px;
  cursor: pointer;
}

.button:hover,
.button:focus{
    background-color: #2196F3;
}
.button:active{
    background-color: #188CE8;
    width: 216px;
height: 50px;
left: 692px;
top: 430px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* <h2>Наші переваги</h2> */
.section-merit {
  outline: 1px solid tomato;
  padding-top: 94px;
  margin-bottom: 94px;

  
}

.merit-list {
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.merit-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  
}
.merit-paragraf {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Робота */
.section {
  outline: 1px solid tomato;
  margin-bottom: 94px;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;

  color: #212121;
}
.work {
  list-style: none;
  padding-left: 0;
}

/* People */
.section-people {
  outline: 1px solid tomato;
 
}
.team-title {
  padding-top: 94px;
  margin-bottom: 50px;
  font-style: normal;

  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.staff {
  list-style: none;
  padding-left: 0;
}
.name-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.profession {
  margin-top: 10px;
  margin-bottom: 30px;
  color:  #757575;
}

/* footer */
address{
    font-style: normal;
    color: aqua;
}
.footer-title {
  padding-top: 30px;
  outline: 1px solid tomato;
  background-color: #2f303a;
}
.logo-footer {
  margin-bottom: 20px;
  font-size: 26px;
  text-decoration: none;
  
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.list-footer {
  list-style: none;
  padding-left: 0;
}
.contakts-footer {
  padding-bottom: 9px;
  text-decoration: none;
  
}
.addres{
font-size: 14px;
line-height: 1,2;
text-decoration: none;
color: #FFFFFF;

}
.button-portfolio{
    color: #212121;
    background-color: #F5F4FA;
  
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
border: none;
margin-bottom: 50px;
padding: 6px 25px;
cursor: pointer;

}
.button-portfolio:hover,
.button-p.button:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}
.portfolio-title{
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
margin-top: 20px;
margin-bottom: 4px;

}
.categories{
    
margin-top: 4px;
margin-bottom: 20px;

font-size: 16px;
line-height: 30px;


letter-spacing: 0.03em;

color: #757575;
}